@tailwind base;
@tailwind components;
@tailwind utilities;


.button {
  @apply bg-black text-white rounded-full font-semibold text-[18px] duration-200 hover:bg-white hover:text-black;
}

.menu a {
  @apply text-white cursor-pointer  text-[16px] flex items-center  xl:px-5 py-5 flex-wrap min-w-fit;
}
.header {
  background-color: rgb(89, 107, 107);
  background-image: url("./assets/Home/suitcase.webp");
  background-size: cover;
  background-attachment: fixed;
}
.swiper-button-prev,
.swiper-button-next {
  font-family: monospace;
  color: #737373;
  background-color: #ffffff;
  font-size: 40px;
  font-weight: 200;
  width: 70px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 30px;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  /* Hover styles */
  background-color: #dfdfdfa1;
}



.footerimage {
  background-color: rgba(47, 112, 197, 0.603);
  background-image: url("./assets/Home/footer.webp");
  background-position: center;
  background-size: cover;
  height: auto;
}

.
.content3about {
  background-color: gray;
  background-image: url("./assets/about/content3/content3image.webp");
  background-position: center;
  background-size: cover;
  height: auto;
}

.bali::before {
  content: "Bali";
  color: white;
  position: absolute;
  bottom: 10px;
  left: 30px;
  font-weight: 600;
  font-size: 60px;
  z-index: 10;
  font-size: 36px;
}
.dubai::before {
  content: "Dubai";
  color: white;
  position: absolute;
  bottom: 10px;
  left: 30px;
  font-weight: 600;
  font-size: 60px;
  z-index: 10;
  font-size: 36px;
}
.italy::before {
  content: "Italy";
  color: white;
  position: absolute;
  bottom: 10px;
  left: 30px;
  font-weight: 600;
  font-size: 60px;
  z-index: 10;
  font-size: 36px;
}

.packageimage {
  background-color: rgb(202, 156, 70);
  background-image: url("./assets/Package/packageimage.webp");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: auto;
}

.imagecontent {
  background-color: aqua;
  background-image: url("./assets//Package/image.webp");
  background-position: center;
  background-size: cover;
  height: auto;
}

.blogimage {
  background-color: aquamarine;
  background-image: url('./assets/blog/blogimage.webp');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: auto;
}

.contactimage{
  background-color: bisque;
  background-image: url('./assets/contact/Banner.webp');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: auto;
}